* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.results-contaier {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.root-content {
  padding: 2rem;
}

.login-page {
  min-height: 100vh;
  background: url('https://moodle.epu.edu.iq/pluginfile.php/1/theme_moove/sliderimage1/1737532583/EPU_Moodle_Banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.form-container {
  min-width: 16rem;
  padding: 2rem 2rem;
  border-radius: 0.6rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media(max-width:28rem) {
  .root-content {
    padding: 0;
  }
}

.dept-details-select .ant-select-selector {
  background-color: #000B58 !important;
  border: 1px solid grey !important;
  color: white !important;
}

.degree-submit-button {
  background: #16C47F;
  border: 1px solid #16C47F;
  color: white;
  font-weight: bold;
}

.submition-button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0.5rem;
}